node-red/data/.flows.json.backup
[
    {
        "id": "0d3d2868f32e10d5",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76fb3f2f1d7c8cc8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3e6d0c3ac4655718",
        "type": "subflow",
        "name": "Occupancy",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "sensor",
                "type": "str",
                "value": ""
            },
            {
                "name": "modes",
                "type": "str",
                "value": ""
            },
            {
                "name": "scene_on",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-toggle-on"
                }
            },
            {
                "name": "scene_off",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-toggle-off"
                }
            },
            {
                "name": "delay",
                "type": "num",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/light.svg",
        "status": {
            "x": 1360,
            "y": 500,
            "wires": [
                {
                    "id": "3c839415ba3554cc",
                    "port": 0
                },
                {
                    "id": "d310b1a9662f4c39",
                    "port": 0
                },
                {
                    "id": "66d3c5a153dcb50e",
                    "port": 0
                },
                {
                    "id": "567b0f726401b590",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "fe392a52c083df8f",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "01731ae96af296dc",
        "type": "ha-zone",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "server": "fe392a52c083df8f",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entities": [
            "person.caroline"
        ],
        "event": "leave",
        "zones": [
            "zone.schultz_as"
        ],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "45e38fd333b66f2b"
            ]
        ]
    },
    {
        "id": "45e38fd333b66f2b",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_jakob_phone",
        "entityId": "",
        "data": "{\"title\":\"Caroline left work\",\"message\":\"Caroline has just left work\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d38e3f97ba8923b3",
        "type": "server-state-changed",
        "z": "3e6d0c3ac4655718",
        "name": "",
        "server": "fe392a52c083df8f",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "${sensor}",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "occupancy",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "f88828f4e8e98e8f"
            ]
        ]
    },
    {
        "id": "2c7ae2bf728b4297",
        "type": "subflow:3e6d0c3ac4655718",
        "z": "0d3d2868f32e10d5",
        "name": "Hallway (morning, evening)",
        "env": [
            {
                "name": "sensor",
                "value": "binary_sensor.hallway_motion_sensor_occupancy",
                "type": "str"
            },
            {
                "name": "modes",
                "value": "morning, evening",
                "type": "str"
            },
            {
                "name": "scene_on",
                "value": "scene.hallway_on",
                "type": "str"
            },
            {
                "name": "scene_off",
                "value": "scene.hallway_dimmed",
                "type": "str"
            },
            {
                "name": "delay",
                "value": "60",
                "type": "num"
            },
            {
                "name": "light",
                "value": "light.hallway_light",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "ae8c9bc5dda77824",
        "type": "delay",
        "z": "3e6d0c3ac4655718",
        "name": "Delay msg.delay",
        "pauseType": "delayv",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "53ad59d9912ece5d"
            ]
        ]
    },
    {
        "id": "f88828f4e8e98e8f",
        "type": "api-current-state",
        "z": "3e6d0c3ac4655718",
        "name": "Check lights mode",
        "server": "fe392a52c083df8f",
        "version": 2,
        "outputs": 2,
        "halt_if": "${modes}",
        "halt_if_type": "str",
        "halt_if_compare": "includes",
        "entity_id": "input_select.lights_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "lights_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "dea38b67f6dad5a4"
            ],
            []
        ]
    },
    {
        "id": "b9353999ee2d6177",
        "type": "server-state-changed",
        "z": "3e6d0c3ac4655718",
        "name": "lights_mode changed",
        "server": "fe392a52c083df8f",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.lights_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "${modes}",
        "halt_if_type": "str",
        "halt_if_compare": "does_not_include",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "reset",
                "propertyType": "msg",
                "value": "1",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "reset",
                "valueType": "str"
            }
        ],
        "x": 300,
        "y": 580,
        "wires": [
            [
                "ae8c9bc5dda77824",
                "d310b1a9662f4c39"
            ],
            []
        ]
    },
    {
        "id": "0fd8c1c0a3f93bcc",
        "type": "api-call-service",
        "z": "3e6d0c3ac4655718",
        "name": "Run scene_on",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "${scene_on}",
        "data": "{\"transition\":1}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "reset",
                "propertyType": "msg",
                "value": "1",
                "valueType": "num"
            }
        ],
        "queue": "none",
        "x": 580,
        "y": 420,
        "wires": [
            [
                "ae8c9bc5dda77824",
                "567b0f726401b590"
            ]
        ]
    },
    {
        "id": "53ad59d9912ece5d",
        "type": "api-call-service",
        "z": "3e6d0c3ac4655718",
        "name": "Run scene_off",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "${scene_off}",
        "data": "{\"transition\":15}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "3c839415ba3554cc"
            ]
        ]
    },
    {
        "id": "f1483386a33b3ac4",
        "type": "subflow:3e6d0c3ac4655718",
        "z": "0d3d2868f32e10d5",
        "name": "Hallway (night)",
        "env": [
            {
                "name": "sensor",
                "value": "binary_sensor.hallway_motion_sensor_occupancy",
                "type": "str"
            },
            {
                "name": "modes",
                "value": "night",
                "type": "str"
            },
            {
                "name": "scene_on",
                "value": "scene.hallway_dimmed",
                "type": "str"
            },
            {
                "name": "scene_off",
                "value": "scene.hallway_off",
                "type": "str"
            },
            {
                "name": "delay",
                "value": "0",
                "type": "num"
            },
            {
                "name": "light",
                "value": "light.dinner_table_light",
                "type": "str"
            }
        ],
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "05307eb0961d6c3d",
        "type": "switch",
        "z": "3e6d0c3ac4655718",
        "name": "Occupancy?",
        "property": "occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "0fd8c1c0a3f93bcc"
            ],
            [
                "66d3c5a153dcb50e",
                "ae8c9bc5dda77824"
            ]
        ]
    },
    {
        "id": "3c839415ba3554cc",
        "type": "template",
        "z": "3e6d0c3ac4655718",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"fill\": \"red\",\n    \"text\": \"Running {{scene_off}}\"\n}",
        "output": "json",
        "x": 1040,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d310b1a9662f4c39",
        "type": "template",
        "z": "3e6d0c3ac4655718",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"fill\": \"grey\",\n    \"text\": \"Automation disabled in current mode\"\n}",
        "output": "json",
        "x": 1040,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "66d3c5a153dcb50e",
        "type": "template",
        "z": "3e6d0c3ac4655718",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"fill\": \"yellow\",\n    \"text\": \"Occupancy off - waiting {{delay}} ms\"\n}",
        "output": "json",
        "x": 1040,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "567b0f726401b590",
        "type": "template",
        "z": "3e6d0c3ac4655718",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"fill\": \"green\",\n    \"text\": \"Occupancy detected - Running {{scene_on}}\"\n}",
        "output": "json",
        "x": 1040,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1609f491b6cd7d36",
        "type": "subflow:3e6d0c3ac4655718",
        "z": "0d3d2868f32e10d5",
        "name": "Entrance (morning, day, evening, bedtime, night)",
        "env": [
            {
                "name": "sensor",
                "value": "binary_sensor.entrance_motion_sensor_occupancy",
                "type": "str"
            },
            {
                "name": "modes",
                "value": "morning, day, evening, bedtime, night",
                "type": "str"
            },
            {
                "name": "scene_on",
                "value": "scene.entrance_on",
                "type": "str"
            },
            {
                "name": "scene_off",
                "value": "scene.entrance_off",
                "type": "str"
            },
            {
                "name": "delay",
                "value": "60",
                "type": "num"
            }
        ],
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "55c52e3f88ca3b36",
        "type": "subflow:3e6d0c3ac4655718",
        "z": "0d3d2868f32e10d5",
        "name": "Wardrobe (morning, day, evening, bedtime)",
        "env": [
            {
                "name": "sensor",
                "value": "binary_sensor.wardrobe_motion_sensor_occupancy",
                "type": "str"
            },
            {
                "name": "modes",
                "value": "morning, day, evening, bedtime",
                "type": "str"
            },
            {
                "name": "scene_on",
                "value": "scene.wardrobe_on",
                "type": "str"
            },
            {
                "name": "scene_off",
                "value": "scene.wardrobe_off",
                "type": "str"
            },
            {
                "name": "delay",
                "value": "60",
                "type": "num"
            }
        ],
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "dea38b67f6dad5a4",
        "type": "change",
        "z": "3e6d0c3ac4655718",
        "name": "Set msg properties",
        "rules": [
            {
                "t": "set",
                "p": "scene_on",
                "pt": "msg",
                "to": "${scene_on}",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "scene_off",
                "pt": "msg",
                "to": "${scene_off}",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "${delay}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "05307eb0961d6c3d"
            ]
        ]
    },
    {
        "id": "404583baaf8d4f6f",
        "type": "server-state-changed",
        "z": "0d3d2868f32e10d5",
        "name": "State changed: lights_mode",
        "server": "fe392a52c083df8f",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.lights_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 560,
        "y": 740,
        "wires": [
            [
                "ab71100c3065b914"
            ]
        ]
    },
    {
        "id": "ab71100c3065b914",
        "type": "switch",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bedtime",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "eec9ab2087760ddf"
            ],
            [
                "806f875d4aeb551d"
            ],
            [
                "63fcc9aefafd9c8d"
            ],
            [
                "e8c884c2f954d840"
            ],
            [
                "f44b8668dc518eaa"
            ]
        ]
    },
    {
        "id": "cb5d20fb3d9d2006",
        "type": "link in",
        "z": "0d3d2868f32e10d5",
        "name": "Morning lights",
        "links": [
            "eec9ab2087760ddf"
        ],
        "x": 435,
        "y": 1240,
        "wires": [
            [
                "e7a7cf0de1bd9a66",
                "ac9fe23236bf161d",
                "711179c401ad8842",
                "fff4fb22117c1069"
            ]
        ]
    },
    {
        "id": "eec9ab2087760ddf",
        "type": "link out",
        "z": "0d3d2868f32e10d5",
        "name": "Morning",
        "links": [
            "cb5d20fb3d9d2006"
        ],
        "x": 1015,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7a7cf0de1bd9a66",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Office",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.office_on",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "806f875d4aeb551d",
        "type": "link out",
        "z": "0d3d2868f32e10d5",
        "name": "Day",
        "links": [
            "3e33ea0dadcffcc4"
        ],
        "x": 1015,
        "y": 660,
        "wires": []
    },
    {
        "id": "2a115f3ec6fb5734",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Morning",
        "info": "",
        "x": 340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a4b2aa9b48bb0be2",
        "type": "eztimer",
        "z": "0d3d2868f32e10d5",
        "name": "Weekdays @ 6:00",
        "debug": false,
        "autoname": "06:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "manual",
        "latLongHaZone": "zone.home",
        "lat": "",
        "lon": "",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "06:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "1",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "sun": false,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "75eac93f26942383"
            ]
        ]
    },
    {
        "id": "75eac93f26942383",
        "type": "api-current-state",
        "z": "0d3d2868f32e10d5",
        "name": "Alarm on?",
        "server": "fe392a52c083df8f",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.morning_alarm",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 670,
        "y": 960,
        "wires": [
            [
                "937b6a6c1dd0be0d",
                "308c9d4b3bdb0230"
            ],
            []
        ]
    },
    {
        "id": "937b6a6c1dd0be0d",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom Alarm",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_alarm",
        "data": "{\"transition\":1800}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "308c9d4b3bdb0230",
        "type": "delay",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "2f9e1a5513f29be9"
            ]
        ]
    },
    {
        "id": "2f9e1a5513f29be9",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Lights mode: Morning",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.lights_mode",
        "data": "{\"option\": \"morning\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1120,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ac9fe23236bf161d",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_morning",
        "data": "{\"transition\":60}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 650,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2c46594e31d6927c",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Evening",
        "info": "",
        "x": 340,
        "y": 1660,
        "wires": []
    },
    {
        "id": "63fcc9aefafd9c8d",
        "type": "link out",
        "z": "0d3d2868f32e10d5",
        "name": "Evening ",
        "links": [
            "fde3aa3c25bb26ac"
        ],
        "x": 1015,
        "y": 700,
        "wires": []
    },
    {
        "id": "fde3aa3c25bb26ac",
        "type": "link in",
        "z": "0d3d2868f32e10d5",
        "name": "Evening scenes",
        "links": [
            "63fcc9aefafd9c8d"
        ],
        "x": 435,
        "y": 1660,
        "wires": [
            [
                "74313c6fd6509fdd",
                "2982a4f5623250ad",
                "38b6da18d54fc655"
            ]
        ]
    },
    {
        "id": "74313c6fd6509fdd",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom evening",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_evening",
        "data": "{\"transition\":15}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "2982a4f5623250ad",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Living room",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.living_room_evening",
        "data": "{\"transition\":15}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "e8c884c2f954d840",
        "type": "link out",
        "z": "0d3d2868f32e10d5",
        "name": "Bedtime",
        "links": [
            "b2dfe7d1f0076748"
        ],
        "x": 1015,
        "y": 740,
        "wires": []
    },
    {
        "id": "f44b8668dc518eaa",
        "type": "link out",
        "z": "0d3d2868f32e10d5",
        "name": "Night",
        "links": [
            "73d484e2373bd983"
        ],
        "x": 1015,
        "y": 780,
        "wires": []
    },
    {
        "id": "784c47322dfe81e4",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Night",
        "info": "",
        "x": 350,
        "y": 2140,
        "wires": []
    },
    {
        "id": "73d484e2373bd983",
        "type": "link in",
        "z": "0d3d2868f32e10d5",
        "name": "Night scenes",
        "links": [
            "f44b8668dc518eaa"
        ],
        "x": 435,
        "y": 2140,
        "wires": [
            [
                "f639d3104bcb1de9",
                "352406d9cb239685",
                "08c7cfdff4d5f9ae",
                "2ccfb592df9454de"
            ]
        ]
    },
    {
        "id": "f639d3104bcb1de9",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom off",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_off",
        "data": "{\"transition\":120}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 700,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "352406d9cb239685",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Living room off",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.living_room_off",
        "data": "{\"transition\":60}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 700,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "f943b5509eb4734f",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Bedtime",
        "info": "",
        "x": 340,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c952c9e3b5eb046e",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom bedtime",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_bedtime",
        "data": "{\"transition\":15}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "b2dfe7d1f0076748",
        "type": "link in",
        "z": "0d3d2868f32e10d5",
        "name": "Bedtime scenes",
        "links": [
            "e8c884c2f954d840"
        ],
        "x": 435,
        "y": 1920,
        "wires": [
            [
                "c952c9e3b5eb046e",
                "4f43cffa4658648b",
                "91dbc183e5167fd9"
            ]
        ]
    },
    {
        "id": "4f43cffa4658648b",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Living room",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.living_room_bedtime",
        "data": "{\"transition\":60}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "9ff4d998e5c30fbe",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Day",
        "info": "",
        "x": 350,
        "y": 1480,
        "wires": []
    },
    {
        "id": "fdfea1107d624103",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Bedroom",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bedroom_off",
        "data": "{\"transition\":15}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "3e33ea0dadcffcc4",
        "type": "link in",
        "z": "0d3d2868f32e10d5",
        "name": "Day scenes",
        "links": [
            "806f875d4aeb551d"
        ],
        "x": 455,
        "y": 1480,
        "wires": [
            [
                "fdfea1107d624103",
                "8c591c90ac470930",
                "d7b1b4b6dc4c339a"
            ]
        ]
    },
    {
        "id": "99b3fd41ba3e90f8",
        "type": "inject",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 820,
        "wires": [
            [
                "f44b8668dc518eaa"
            ]
        ]
    },
    {
        "id": "711179c401ad8842",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Living room",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.living_room_morning",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 650,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "8c591c90ac470930",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Living room",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.living_room_off",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "08c7cfdff4d5f9ae",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Office off",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.office_off",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "e6357ba96dc2d55c",
        "type": "eztimer",
        "z": "0d3d2868f32e10d5",
        "name": "",
        "debug": false,
        "autoname": "goldenHour",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "55.75938101407778",
        "lon": "12.405295819044115",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "1",
        "ontimesun": "goldenHour",
        "ontimetod": "17:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "1",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 1250,
        "y": 1280,
        "wires": [
            [
                "5d103d3f9fb35f09"
            ]
        ]
    },
    {
        "id": "5d103d3f9fb35f09",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Lights mode: Evening",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.lights_mode",
        "data": "{\"option\": \"evening\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1560,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "43bdda6ae9cc801e",
        "type": "comment",
        "z": "0d3d2868f32e10d5",
        "name": "Morning alarm",
        "info": "",
        "x": 350,
        "y": 900,
        "wires": []
    },
    {
        "id": "d7b1b4b6dc4c339a",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Hallway (off)",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_off",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "fff4fb22117c1069",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Hallway (dimmed)",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_dimmed",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "38b6da18d54fc655",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Hallway (dimmed)",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_dimmed",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "91dbc183e5167fd9",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Hallway (on)",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_on",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccfb592df9454de",
        "type": "api-call-service",
        "z": "0d3d2868f32e10d5",
        "name": "Scene: Hallway (off)",
        "server": "fe392a52c083df8f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_off",
        "data": "{\"transition\":30}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 700,
        "y": 2200,
        "wires": [
            []
        ]
    }
]